# Django settings
SECRET_KEY=django-insecure-replace-this-with-a-real-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database settings (PostgreSQL)
# Change these values to match your local PostgreSQL database credentials
DB_NAME = resume_ats_db
DB_USER = postgres
DB_PASSWORD = postgres 
DB_HOST = localhost
DB_PORT = 5432

# Third-party APIs
# Get free API key from https://console.groq.com/
GROQ_API_KEY="your_groq_api_key_here"

# Get Google Client ID from Google Cloud Console (OAuth Client Credentials)
GOOGLE_CLIENT_ID=396252275172-hq4eja7pbqgm87o02ob9b2bvsma5m9qu.apps.googleusercontent.com